body{
    margin: 0%;
    padding: 0%;
}
.nav2{
    margin-top: -2%;
    margin-right: 5%;
}
.navbar-nav{
    margin-top: -3%;
}
.head{
    margin-top: -2%;
    margin-left: 4%;
}
.back{
    background-image: url(./garlic-oil-spices-black-background_370312-432.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
    background-position: fixed;
}

.best{
    padding-top: 5rem;
    padding-left: 55%;
}
.best h1{
 color: orange;
    display: inline-block;
    
    
}
.about img{
    height: 40vh;
}
.best p{
    color: #fff;
   
    padding: 10px;
}
.best button{
    background-color: orange;
    padding: 5px 25px;
    border-color: orange;
}
.card{
  
    margin-left: 15%;
    
}
.about{
    background-color: black;
    height: 60vh;
    width: 100%;
    padding-top: 6%;
    
}
#food{
    background-image: url(./Your\ paragraph\ text1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: fixed;
   
    height: 90vh;
   
    
}
.food h5{
    color: #fff;
    padding-top:14%;
    
}
.food p{
    color: #fff;
   
}
#enjoy{
    background-image: url(./various-mexican-food-dark-background_23-2147740705.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: fixed;
    padding-top: 10rem;
    height: 100vh;
}
.enjoy {
    color: #fff;
    
    height: 57vh;
    width: 40%;
    margin-left: 27%;
    margin-top: 8%;
    border: 4px solid orange;

}
.back i{
    margin-left: 48.5%;
    font-size: 30px;
}
.service-head{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
 

}
.service-head img{
    width:330px;
     height:200px;
}
.service-head h4{
    color: orange;
}
.service-head h6{
    color: orange;
}
.meal{
    width: 100%;
  background-color: #ffa500;
    color: white;
}
.meal h5{
    padding-top: 8%;
}
.meal img{
    width: 100%;
}
.location{
    background-color: rgb(29, 27, 27);
    height: 40vh;
    padding-top: 7%;
    line-height: 35px;

}
.location p{
    word-spacing:25px ;
}
.location i{
    color: white;
    font-size: 25px;
}
.heart i{
    color: #ffa500;
    font-size: 30px;
}
